<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Websocket chat - Jhonatan Becerra</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div>
          <h1>Chat Websocket</h1>
          <p>
            Para usar correctamente el chat, debes abrir dos pestañas del
            navegador
          </p>
        </div>
        <!-- Seccion de chat -->
        <section class="chat">
          <div class="msgBox">
            <ul></ul>
          </div>
          <div class="formBox">
            <input type="text" id="message" placeholder="Message" />
            <button type="submit">Send</button>
          </div>
        </section>
      </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
