<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Websocket chat - Jhonatan Becerra</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div>
          <h1>Chat Websocket</h1>
          <p class="text-recomend">
            <span class="important-bullet">*</span>Para usar correctamente el
            chat, debes abrir dos pestañas del navegador
          </p>
          <p>usuarios para sala 1: usuario1, usuario2, usuario3</p>
        </div>
        <!-- Seccion de chat -->
        <div class="onContent">
          <span id="namespace"></span>
        </div>
        <section class="chat">
          <div class="msgBox">
            <ul id="messageLists"></ul>
          </div>
          <div class="formBox">
            <input type="text" id="message" placeholder="Message" value="" />
            <button id="sendMessage">Enviar</button>
          </div>
        </section>
      </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
